body{
    text-align: center;
    background-color:lightgray;
    width: 90%;
    margin: auto;
}

a:hover{
    color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 3em;
    color: dimgray;
    background-color: rgba(255, 255, 255, 0.4);
}

img{
    border: 8px dashed #d6f5f5;
    width:40%;
}

p{
    font-family: cursive;
    color:white;
    font-size: 1em;
    font-weight: bold;
}

div{
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    margin-bottom: 50px;
    padding-left: 5%;
}

h3{
    text-align: left;
    background-color:darkgray;
    color: #d6f5f5;
    padding: 10px;
}

li{
    color:white;
    font-family: Verdana;
    font-size: .8em;
}

ul{
    padding: 5px;
    list-style: none;
}

a{
    color: #d6f5f5;
    text-decoration: none;
}