body{
    text-align: center;
    background-color:lightgray;
    width: 80%;
    margin: auto;
    background-image: url('../giphy.gif');
    background-size: cover;
    font-family: 'BenchNine';
    margin-bottom: 5%;
    margin-top: 5%;
}

a:hover{
    color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 3em;
    color: dimgray;
    background-color: rgba(0, 0, 0, 0.15);
    width: 130%;
    margin-left: -15%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

img{
    border: 8px dashed #d6f5f5;
    width:55%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

p{
    color:dimgray;
    font-size: 1.5em;
}

div{
    background-color: rgba(0, 0, 0, 0.15);
    text-align: left;
    margin-bottom: 50px;
    padding-left: 5%;
    width: 80%;
    margin:auto;
}

h3{
    text-align: left;
    background-color:darkgray;
    color: #d6f5f5;
    padding: 10px;
    padding-left: 65px;
    font-weight: bold;
}

ul{
    padding: 5px;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}


.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}