body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    padding: 1%;
    width: 98%;
}

h1{
    font-size: 1.5em;
    float:left;
}

nav p{
    margin-top: .5%;
    display: inline-block;
    float:right;
}

nav p a{
    text-decoration: none;
    margin-left:5px;
    color:black;
    font-size: .75em;
}

main{
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    text-align: center;
    color:white;
}

main > div{
    background-color: rgba(0, 0, 0, .8);
    padding: 15% 0;
}

main h2{
    font-size: 3em;
    margin-bottom: 5%;
}

main div p{
    font-style: italic;
    font-size: .75em;
}


/*ABOUT US SECTION*/

#about_us{
    width: 100%;
    text-align: center;
}

#about_us div{
    float:left;
}

#about_us div:first-child{
    width: 55%;
    padding: 0 2.5%;
}

#about_us div:nth-child(2){
    width:40%;
}

#about_us div img{
    width: 70%;
}

#about_us div p:first-child{
    color: darkgray;
    padding-top: 20%;
}

#about_us p:nth-child(3){
    font-size: .8em;
}

#about_us h3{
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    padding: 5% 0;
}


/*TESTIMONIAL SECTION*/

#testimonial{
    background-image: url(../img/wine13.jpg);
    background-size: cover;
    text-align: center;
    color:white;    
}

#testimonial > div{
    background-color: rgba(0, 0, 0, .8);
    padding: 12% 2.5%;

}

#testimonial h3{
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    padding: 2% 0 3%;
}

#testimonial p{
    font-size: .75em;
}


/*WINE SELECTION SECTION*/

#wineselection{
    text-align: center;
}

#wineselection > div{
    float: left;
    width: 30%;
    margin-left: 2.5%;
}

#wineselection div img{
    width: 35%;
}

#wineselection h3{
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    padding: 0 0 5%;
}

#wineselection p{
    margin-bottom: 2%;
    font-size: .75em;
}

#wineselection a{
    text-decoration: none;
    color:white;
    font-size: .75em;
    background-color: #91A15F;
    padding: 2% 5%;
}

.clearthatshit:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
