body {
    width: 75%;
    margin: 0 auto;
}

header, main, section, aside, footer {
    padding: 5px;
    margin-top: 30px;
}

li{
    display:inline;
}

nav{
    position: fixed;
    width:75%;
    background-color:#add8e6;
    padding:5px;
}

nav a{
    font-size: 150%;
    text-decoration:none;
    font-family: Verdana;
    margin:10px;
}

section, aside {
    float: left;
}

section {
    width: 70%
}
aside {
    width: 20%;
}

footer {
    clear: both;
}