.my_header{
    background-color: rosybrown;
    padding-top: 20px;
    padding-bottom: 20px;
}

.my_logo{
    height: 250px;
}

.clearthatshit:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
