#landing_page .navbar{
    background: rgba(266, 266, 266, .9);
    border-radius: 0;
}

#landing_page{
    font-family: 'Fauna One';
    background-color: white;
}

#landing_page .divider {
    height:50px;
}


#landing_page #top_section{
    margin-top: 150px;
}

#landing_page #top_section img{
    width: 50%;
}

#landing_page #face img{
    width: 70%;
    margin-top: -50px;
}

#my_name{
    font-size: 1.5em;
}

#landing_page #top_section h1, #about_me h1, #portfolio h1, #contact h1{
    font-family: 'Wire One';
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
}

#about_me h1, #portfolio h1, #contact h1{
    background-color: rgba(0,0,0,.5);
}

#landing_page .big{

    font-weight: bolder;
}

#landing_page .panel-body{
    padding: 0;
}

#landing_page .panel-body img{
    width: 100%;
}

#landing_page .panel-footer{
    color: dimgray;
}

#landing_page a:hover{
    text-decoration: none;
}


/*PARALLAX*/
.bg-1 {
	background: url('../img/blue_pattern.png') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
  
.bg-2 {
	background: url('../img/green_pattern.png') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
	background: url('../img/orange_pattern.png') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

#landing_page  #footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#landing_page #footer a {
  color:#efefef;
}

/* END PARALLAX */

#resume{
    background-image: url('../img/9.jpg');
    background-size: cover;
    background-repeat: none;
    font-family: "Fauna One", sans-serif;
    height: 1200px;
}

#resume header{
    margin-bottom: 75px;
    margin-top: 75px;
}

#resume header h1{
    font-size: 7em;
    font-weight: bold;
    display: inline;
    padding: 1% 2% 3% 2%;
    font-family: "Wire One";
    color: white;
}

#resume header p{
    color: white;
}


#resume main h2{
    border-bottom: 2px solid lightgray;
    font-size: 2em;
    font-family: "Wire One";
    font-weight: bold;
}

#resume main{
    background-color: rgba(255, 255, 255, .85);
    padding: 5%;
}


#resume #right h3{
    font-weight: bold;
}

#resume main h3{
    font-size: 1em;
}

#resume main p{
    font-size: .8em;
}

#resume #left p{
    margin-left: 25px;
}

#resume main li{
    list-style-type: square;
    margin-left: 40px;
    font-size: .8em;
}

#resume span{
    font-weight: bold;
}

#resume footer{
    padding: 2.5%;
}

.hide_me{
    display: none;
}

#resume #down_arrow h2{
    border: none;
}

@media (max-width: 1000px) {
    
    #resume header h1{
        font-size:4em;
    }

    #resume h2{
        font-size:10em;
    }
    
}

@media (min-width: 782px) {
    
    #resume header h1:hover{
        -webkit-box-shadow: 0px 9px 107px -1px rgba(255,255,255,0.95);
        -moz-box-shadow: 0px 9px 107px -1px rgba(255,255,255,0.95);
        box-shadow: 0px 9px 107px -1px rgba(255,255,255,0.95);
        border-radius: 10px;
    }
    
}

@media screen and (max-width: 991px){
    #my_name{
        font-size: .5em;
    }
    
    #landing_page #top_section{
        margin-top: 125px;
    }
    

#landing_page #top_section img, #landing_page #face img{
        width:100%;
    }
    
    #my_name{
        margin-top: -50px;
    }
}

.clearthatshit:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
